- name: Setup Otel Agent
  tags:
    - otel
  block:
    - name: Check Agent Installed
      ansible.builtin.stat:
        path: /usr/local/bin/otelcol-contrib
      register: otel_agent
    - name: Download And Unpack
      when: not otel_agent.stat.exists
      block:
        - name: Download Otel Agent
          ansible.builtin.get_url:
            url: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v0.139.0/otelcol-contrib_0.139.0_linux_amd64.tar.gz"
            dest: "/tmp/otelcol-contrib_0.139.0_linux_amd64.tar.gz"
        - name: Unpack Otel Agent
          ansible.builtin.unarchive:
            src: "otelcol-contrib_0.139.0_linux_amd64.tar.gz"
            dest: "/usr/local/bin/"
            remote_src: true
            mode: "0755"
    - name: Copy Config File
      ansible.builtin.template:
        src: "otel-config.yml.j2"
        dest: "/etc/otel-config.yml"
        mode: "0644"
    - name: Setup Systemd Service
      ansible.builtin.template:
        src: "otel-agent.service.j2"
        dest: "/etc/systemd/system/otel-agent.service"
        mode: "0644"
      notify: Restart Otel Agent
    - name: Enable and Start Service
      ansible.builtin.systemd:
        name: otel-gent
        enabled: true
        state: started
