- name: Setup MOTD
  tags:
    - motd
  become: true
  block:
    - name: Disable Default MOTD Components
      ansible.builtin.file:
        path: "/etc/update-motd.d/{{ item }}"
        mode: "0644"
      loop:
        - 10-help-text
        - 50-motd-news
        - 91-contract-ua-esm-status
      failed_when: false
    - name: Deploy Custom MOTD Script
      ansible.builtin.template:
        src: "motd.j2"
        dest: "/etc/update-motd.d/00-homelab"
        mode: "0755"
        owner: root
        group: root
    - name: Ensure MOTD is Enabled in PAM
      ansible.builtin.lineinfile:
        path: /etc/pam.d/sshd
        regexp: '^session.*pam_motd.so'
        line: 'session    optional     pam_motd.so motd=/run/motd.dynamic'
        state: present
    - name: Enable PrintMotd in SSHD
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PrintMotd'
        line: 'PrintMotd no'
        state: present
      notify: RestartSSH
