- name: Setup Otel Agent
  tags:
    - otel
  become: true
  block:
    - name: Create user
      ansible.builtin.user:
        name: otel
        system: true
        create_home: false
        groups: "root"
    - name: Check Agent Installed
      ansible.builtin.stat:
        path: /usr/local/bin/otelcol-contrib
      register: otel_agent
    - name: Download And Unpack
      when: not otel_agent.stat.exists
      block:
        - name: Download Otel Agent
          vars:
            otel_url: "https://github.com/open-telemetry/opentelemetry-collector-releases/releases"
            otel_file: "otelcol-contrib_{{ otel_version }}_linux_{{ node_arch }}.tar.gz"
          ansible.builtin.get_url:
            url: "{{ otel_url }}/download/v{{ otel_version }}/{{ otel_file }}"
            dest: "/tmp/{{ otel_file }}"
            mode: "0644"
        - name: Unpack Otel Agent
          ansible.builtin.unarchive:
            src: "/tmp/otelcol-contrib_{{ otel_version }}_linux_{{ node_arch }}.tar.gz"
            dest: "/usr/local/bin/"
            remote_src: true
            mode: "0755"
    - name: Create Config Directory
      ansible.builtin.file:
        path: /opt/otel-agent
        state: directory
        mode: "0755"
        owner: "otel"
        group: "otel"
    - name: Copy Config File
      ansible.builtin.template:
        src: "otel-config.yaml.j2"
        dest: "/opt/otel-agent/otel-config.yaml"
        owner: "otel"
        group: "otel"
        mode: "0644"
      notify: Restart Systemd Daemon
    - name: Setup Systemd Service
      ansible.builtin.template:
        src: "otel-agent.service.j2"
        dest: "/etc/systemd/system/otel-agent.service"
        mode: "0644"
    - name: Enable and Start Service
      ansible.builtin.systemd:
        name: otel-agent
        enabled: true
        state: started
