# tasks file for shell
- name: Tasks for shell setup
  tags:
    - shell
  block:
    - name: Create user group
      ansible.builtin.group:
        name: "{{ username }}"
        state: present
    - name: Create user
      ansible.builtin.user:
        name: "{{ username }}"
        group: "{{ username }}"
        shell: /bin/bash
        create_home: true
    - name: Kubectl Directory
      ansible.builtin.file:
        dest: "{{ username_home }}/.kube"
        state: directory
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0755"
    - name: Create base config folder
      ansible.builtin.file:
        state: directory
        path: "{{ username_home }}/.config"
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0755"
    - name: Create base git folder
      ansible.builtin.file:
        path: "{{ username_home }}/git"
        state: directory
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: "0755"
    - name: Clone repos
      ansible.builtin.git:
        repo: "https://github.com/{{ git_username }}/{{ item }}.git"
        dest: "{{ username_home }}/git/{{ item }}"
      loop: "{{ git_repos }}"
      register: clone_result
      failed_when:
        - clone_result.failed
        - "'could not read Username' not in clone_result.msg"
    - name: Set pre commit hooks template
      ansible.builtin.include_tasks: git-commits.yml
