dependency:
  name: galaxy
  options:
    role-file: requirements.yml
driver:
  name: docker
platforms:
  - name: molecule-ubuntu
    image: ubuntu:24.04
    pre_build_image: false
    dockerfile: ./Dockerfile
provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: /home/mvaldes/git/ansible_playbooks/homelab/nodes/roles
verifier:
  name: ansible
scenario:
  test_sequence:
    - converge
    - verify
