[Unit]
Description=Otel Collector Agent
Wants=network-online.target
After=network.online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
User=otel
Restart=always
ExecStart=/usr/local/bin/otelcol-contrib --config /opt/otel-agent/otel-config.yaml
