receivers:
  hostmetrics:
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      process:
      processes:
      paging:

  filelog:
    include:
    - '/var/log/containers/*.log'
    - '/var/log/*.log'
    start_at: beginning

processors:
  resourcedetection/system:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
  batch:
    send_batch_max_size: 1000
    send_batch_size: 100
    timeout: 10s

exporters:
  otlphttp:
    endpoint: http://{{ agent_endpoint }}:{{ agent_port }}
    tls:
      insecure: true

service:
  pipelines:
    logs:
      receivers: [filelog]
      processors: [batch, resourcedetection/system]
      exporters: [otlphttp]
    metrics:
      receivers: [hostmetrics]
      processors: [batch, resourcedetection/system]
      exporters: [otlphttp]
