- name: Restarts the homelab machines
  hosts: homelab_nodes
  vars:
      ansible_python_interpreter: /usr/bin/python3
  roles:
      - node_setup
  tasks:
      - name: Update Packages
        become: true
        ansible.builtin.apt:
            update_cache: true
            cache_valid_time: 3600
      - name: Cordon Nodes
        kubernetes.core.k8s_drain:
            name: "{{ inventory_hostname }}"
            state: cordon
        delegate_to: localhost
        vars:
            ansible_python_interpreter: "{{ ansible_playbook_python }}"
      - name: Reboot the machine
        become: true
        ansible.builtin.reboot:
            reboot_timeout: 600
            pre_reboot_delay: 10
            post_reboot_delay: 30
            test_command: whoami
      - name: Uncordon Nodes
        kubernetes.core.k8s_drain:
            name: "{{ inventory_hostname }}"
            state: uncordon
        delegate_to: localhost
        vars:
            ansible_python_interpreter: "{{ ansible_playbook_python }}"
